<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans">

    <context:component-scan base-package="pl.lukas"/> <!--this is instead of @ComponentScan in spring run application-->

    <import resource="classpath:config/castleConfig.xml"/>

    <bean id="quest" class="pl.lukas.springCourse.domain.Quest" scope="prototype"/>

    <bean id="lancelot" class="pl.lukas.springCourse.domain.Knight" scope="prototype">
        <constructor-arg index="0" value="Lancelot"/>
        <constructor-arg index="1" value="29"/>
        <property name="quest" ref="quest"/>
    </bean>

    <bean id="percival" class="pl.lukas.springCourse.domain.Knight" scope="prototype">
        <constructor-arg index="0" value="Percival"/>
        <constructor-arg index="1" value="25"/>
        <property name="quest" ref="quest"/>
    </bean>

</beans>
